.contact-title {
	text-align: center;
	h3 {
		font-family: $Lato;
	}
	p {
		margin-top: 1rem;
	}
}

.contact-page-blocks-wrapper {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
	.contact-page-block {
		flex: 1;
		text-align: center;
		box-shadow: $box-shadow-hover;
		border-radius: 8px;
		border: 1px solid $border-color;
		background-color: $color-background;
		.contact-icon {
			i {
				padding: 1.5rem 2rem;
				border-radius: 50%;
				box-shadow: $box-shadow-hov;
				font-size: 3rem;
				background-color: $color-light;
				margin-top: -50px;
				color: $secondary-color;
			}
		}
		.contact-info {
			margin-top: 1rem;
			padding: 0 3rem 1rem;
			h4 {
				font-family: $Lato;
				font-weight: 600;
				color: $secondary-color;
			}
			p {
				color: $color-text-secondary;
				margin: 1rem 0;
			}
			.contact-link {
				border-top: 1px solid $secondary-color;
				padding: 1rem;
				a {
					color: $secondary-color;
					.fa {
						position: relative;
						transition: ease-in 1.5s;
					}
					&:hover {
						text-decoration: none;
						.fa {
							left: 10px;
						}
					}
				}
			}
		}
	}
}

.contact-page-footer {
	text-align: center;
}
