.site-title {
	margin-bottom: 2rem;
	font-family: $Lato;
}

.news-page-wrapper {
	.post {
		transition: ease-in-out 0.3s;
		&:hover {
			box-shadow: $box-shadow-hov;
		}
		&:not(:first-child) {
			margin-top: 3rem;
		}
		.entry-content {
			display: flex;
			// gap: 2rem;
			padding: 2rem;
			border: 2px solid $border-color;
			.news-img {
				align-items: center;
				justify-content: center;
				display: flex;
				img {
					max-height: 300px;
					height: 100%;
					border: 1px solid $color-primary;
				}
			}
			.news-img,
			.blog-content {
				flex: 1;
			}
			.blog-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				a {
					&:hover {
						text-decoration: 2px underline $color-anchor;
					}
					.entry-title {
						color: $color-anchor;
						font-family: $Lato;
						font-size: 2rem;
					}
				}
				.entry-meta {
					.posted-on {
						color: $color-text-secondary;
						a {
							color: $color-anchor;
						}
					}
				}
				p {
					color: $color-text-secondary;
				}
				.btn {
					border-radius: 5px;
					padding: 10px 1.5rem;
					color: $color-anchor;
					font-family: $Lato;
					border: 1px solid $primary-color;
					&:hover {
						color: $color-light;
						background-color: $primary-color;
					}
				}
			}
		}
	}
}

.news-sidebar {
	.widget-area {
		.widget {
			&:first-of-type {
				margin: 0;
			}
		}
		.widget_search {
			form {
				input {
					border-radius: 0;
				}
				.input-group-append {
					input {
						background-color: $primary-color;
						border: none;
					}
				}
			}
		}
		.widget_categories {
			ul {
				padding: 0 20px;
				.cat-item {
					padding-inline-start: 1ch;
					&::marker {
						font-size: 1.2em;
						color: $secondary-color;
					}
					a {
						color: $color-anchor;
					}
				}
			}
		}
		.popular-posts {
			h2 {
				font-size: 1.2rem;
				font-family: $Lato;
			}
			.wpp-list {
				padding: 0;
				// li:first-of-type {
				// 	display: flex;
				// 	flex-direction: column;
				// 	a {
				// 		img {
				// 			width: 100%;
				// 		}
				// 	}
				// 	.wpp-post-title {
				// 		font-size: 1.5rem;
				// 	}
				// }
				.wpp-post-title {
					font-family: $Lato;
					color: $color-anchor;
				}
				// li:not(:first-child) {
				// 	display: flex;
				// 	gap: 10px;
				// 	div {
				// 		img {
				// 			width: 75px;
				// 			height: 75px;
				// 		}
				// 	}
				// 	div:last-child {
				// 		flex: auto;
				// 	}
				// }
			}
		}
		.widget_email {
			text-align: center;
			h4 {
				font-size: 1.4rem;
				font-family: $Lato;
			}
			p {
				margin-top: 1rem;
				color: $color-text-secondary;
			}
			.wpcf7-form {
				.wpcf7-form-control {
					border-radius: 0;
				}
				p:nth-child(3) {
					align-self: center;
					input {
						border-radius: 0;
						color: $color-light;
						background-color: $primary-color;
						border: none;
						&:hover {
							background-color: darken($primary-color, 10%);
						}
					}
					.ajax-loader {
						display: none !important;
					}
				}
			}
		}
	}
}
